html, body{
	width: 100%;
	margin: 0;
	padding: 0;
}

body{
	height: 100vh;
	font-family: 'Roboto', sans-serif;
}

.nav{
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid #707070;
	padding-top: 20px;
	padding-bottom: 20px;
	box-shadow: box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.nav img{
	height: 40px;
	float: left;
	margin-left: 50px;
	cursor:pointer;
overflow: hidden;
outline:none;
}

.menu{
	float: left;
	color: #707070;
	font-size: 20px;
}

.menu span{
 padding-right: 30px;
 line-height: 40px;
}

.menu button{
font-size: 20px;
color: #707070;
text-align: center;
/*to make button transprent*/
background-color: Transparent;
background-repeat:no-repeat;
border: none;
cursor:pointer;
overflow: hidden;
outline:none;
/*to make button transprent*/
 line-height: 40px;
 margin-left: 50px;
}

.menu button:hover {
font-size: 20px;
color: #707070;
text-align: center;
/*to make button transprent*/
background-color: Transparent;
background-repeat:no-repeat;
border: none;
cursor:pointer;
overflow: hidden;
outline:none;
/*to make button transprent*/
 margin-left: 50px;
 line-height: 40px;
 border-bottom: 1px solid #707070;
}

.home{
	width: 30%;
	height: 100vh;
	margin: 0 auto;
	top: 30%;
	color: #707070;
	padding: 0;
	padding-top: 30vh;
}

.home h1{
	font-size: 50px;
}

.home p{
	padding: 0;
	margin-top: -30px;
	text-align: justify;
}





