@media only screen and (min-width: 500px){
	body{
	padding: 0px;
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
}

.header_div{
	width: 100%;
	box-shadow: 0.5px 0.5px #BDB9B9;
	padding: 10px;
	margin:0px;
}

.header_buttons_div{
	display: block;
}

.my_name{
	width: 100%;
	font-family: 'Righteous', cursive;
	background-color: Transparent;
	background-repeat:no-repeat;
	cursor:pointer;
	overflow: hidden;
	display: inline-block;
}

.nav_bar_image{
	height: 40px;
	vertical-align: middle;
	margin-left: 20px;
	padding-right: 10px;
}

.nav_bar_buttons{
	font-size: 16px;
	color: #000;
	vertical-align: middle;
	margin-left: 30px;
	background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 6px;
}

.nav_bar_buttons:hover{
	border: 1px solid #C9C5C5;
	-webkit-transition : border 1000ms ease-out; 
 	-moz-transition : border 1000ms ease-out;
 	-o-transition : border 1000ms ease-out;
 	border-radius: 6px;
 	padding: 10px;

}

.nav_bar_buttons:focus {outline:0;}

.menu_img{
	display: none;
}

.menu_sheet{
	display: none;
}

.sheet_buttons{
	display: block;
	padding: 16px;
	padding-left: 30px;
	/*to make button transprant*/
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;

    
    font-family: 'Open Sans', sans-serif;

    font-size: 22px;

}

footer{
	background: #000;
}
}